<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Network</h1>


            <form action="/network" method="post">
                <p>
                    <label for="ip">Please enter IP-address (or keep it empty):</label>
                    <input type="text" id="ip" name="ip">
                </p>
                <p><%= tagline %></p>
                <p><%= subTagline %></p>
                
                <button type="submit">Request</button>
                <ul>
                    <% oids.forEach(function(oid) { %>
                        <li>
                            <strong><%= oid.oid %></strong>
                            = <%= oid.resp %>,
                            status(<%= oid.status %>),
                            op. status(<%= oid.opStatus %>),
                        </li>
                    <% }); %>
                </ul>
            </form>
            <%if (oids.length > 0) { %>
                <form action="/network" method="post">
                    <select id="select" name="select">
                        <% for ( var oid of oids ) 
                            {  %><option value="<%=oid.oid%>" ><%=oid.resp %></option><% } 
                        %>
                    </select>
                    <select id="set" name="set">
                        <% 
                            var options = [ { capt: 'up', value: 1}, { capt: 'down', value: 2} ]
                            for ( var option of options ) 
                            {  %><option value="<%=option.value %>" ><%=option.capt %></option><% } 
                        %>
                    </select>
                    <button type="submit">Set</button>
                </form>
            <% } %>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>