<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Applications</h1>


            <form action="/services" method="post">
                <p>
                    <label for="ip">Please enter IP-address (or keep it empty):</label>
                    <input type="text" id="ip" name="ip">
                </p>
                <p>
                    <label for="name">Please enter Service name:</label>
                    <input type="text" id="name" name="name">
                </p>
                <p><%= tagline %></p>
                <button type="submit">Running</button>
                <button type="submit" name="installed" value="clicked">Installed</button>
                <p></p>
                <% for (const line of subTagline.split("\n")) { %>
                    <p><%= line %></p>
                <% } %>
                <ul>
                    <% oids.forEach(function(oid) { %>
                        <li>
                            <strong><%= oid.resp %></strong>
                            <%if (oid.runType) { %>, run type(<%= oid.runType %>)<% } %>
                            <%if (oid.status) { %>, status(<%= oid.status %>)<% } %>
                            <%if (oid.path) { %>, path=<%= oid.path %> <% } %>
                        </li>
                    <% }); %>
                </ul>
            </form>

        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>